.dashboardnote3icons-main{
     /* padding-top: 30px; */
    border: none;
    width: 21vw;
    height: 6vh;
    /* position: relative;
    left: 300px; */
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;

}
.icons3-conatiner{
  
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 80%;
}
.close4{
  
    width: 14%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-decoration-line: none;
}

@media  screen and (max-width:400px) {

   
    
}